/* Importação de fontes (remoção de duplicatas) */
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Reset e Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #09080E, #141320, #09080E);
    background-size: unset;
    background-color: #000;
    color: white;
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
    gap: 60px;
    margin: 0;
    padding: 0;
        min-height: 100vh;
}



/* Header */
header {
    margin-left: 18.81vw;
    
    margin-top: 6.46vh;
    display: flex;
    gap: 60px;
}
.header_button {

    height: 60px;
    width: 110px;
    border-radius: 10px;
    color: white;
    user-select: none;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: border 0.3s;
}
.header_button:hover {
    cursor: pointer;
}
.header_button_icon {
    height: 30px;
    width: 30px;
}
.header_button_information {
    font-size: 1rem;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 60px;
}
.icon_profile {
    height: 150px;
    width: 150px;
    border: 3px solid #AA912B;
    border-radius: 50%;
}
h1 {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-size: 1.5rem;
}
.emphasis {
    color: #AA912B;
}
.emphasis-italic {
    color: #AA912B;
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.4rem;
}

.features {
    margin-left: 18.11vw;
    margin-right: 18.11vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}
.feature {
    display: flex;
    
    align-items: center;
    width: 29.948vw;
    height: 130px;
    gap: 30px;
}
.feature_name {
    min-width: 150px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feature_name > h3 {
    font-weight: 400;
    font-size: 20px;
    text-wrap: nowrap;
    text-align: center;
}
.feature_name > img {
    width: 90px;
    height: 90px;
}
.feature_information {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid white;
    padding-left: 15px;
}
.feature_information > p {
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
}

@media (max-width: 1370px)  {
    body {
        gap: 60px;
        padding: 60px 0;
    }
    header {
        margin: 0 auto;
        gap: 30px;
    }
    .header_button {
        height: 50px;
        width: 90px;
    }
    .header_button_icon {
        height: 25px;
        width: 25px;
    }
    .header_button_information {
        font-size: 0.8rem;
    }
    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feature {
        width: 380px;
    }
    .feature_name {
        width: 100px;
    }
    .feature_name > h3 {
        
        text-wrap: wrap;
    }
    .feature_information > p {
        
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 1px;
    }
}
#about-me {
    border: 2px solid white;
}